body {
    font-family: 'Barlow', sans-serif;
   /* font-family: 'Fraunces', serif;  TITLEs*/
   font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

.hide {
    display: none !important;
}

html, body {
    margin:0px;
    height:100%;
  }

main{
    box-sizing: content-box;
  }

.column {
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}

.sunny-avatar{
    height: 2rem;
}

.navbar{
    padding-top: 3rem;
    padding-left: 3%;
}
.nav-info a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}

.nav-info a:hover{
    color: black;
}

#nav-contact {
    font-family: 'Fraunces', serif;
    font-size: 16px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    color: black;
    border: 1px solid hsl(0, 0%, 100%);
    
    border-radius: 100px;
}

#nav-contact:hover{

    color: hsl(0, 0%, 100%);
    background-color: #73cffd;
    border-color: #73cffd;
}

.nav-span{
    padding-right: 3rem;
}
.front-hero{
    
    height: 100vh;
    background-image: url(./images/desktop/image-header2.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.creative-title{
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 900;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 7rem;
}
/*
.arrow-down{
    margin-top: 150px;
    text-align: center;
}*/
/* SIX PACK IMAGES */
.egg-img{
    background-image: url(./images/desktop/image-transform.jpg);    
}

.cup-img{
    background-image: url(./images/desktop/image-stand-out.jpg);
}

.cherry-img {
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

.orange-img {
    background-image: url(./images/desktop/image-photography.jpg);
}


.egg-img, .cup-img, .cherry-img, .orange-img {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* END OF THE SIX PACK IMAGES */


.brand-title, .audience-title{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 2rem;
}

.brand-content, .audience-content{
    color:hsl(232, 10%, 55%);
}
.brand-learn, .audience-learn {
    font-family: 'Fraunces', serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2rem;
    padding-left: 0.5rem;
    
}


.brand-underline{
    margin-top: -0.5em;
    margin-left: -0.5em;
    height: 0.5em;
    width: 8.2em;
    background-color: hsla(51, 100%, 49%, 0.247);
    border: 1px hsla(51, 100%, 49%, 0.247) solid;
    border-radius: 100px;
}

.brand-learn, .audience-learn{
    max-width: 8em;
}

.brand-learn a, .audience-learn a{
   text-decoration: none;
   color: initial;
}

.brand-learn:hover, .audience-learn:hover{
    cursor: pointer;
}

.brand-learn:hover .brand-underline{
    background-color: hsl(51, 100%, 49%);
    border: 1px hsl(51, 100%, 49%) solid;
}

.audience-underline{
    margin-top: -0.5em;
    margin-left: -0.5em;
    height: 0.5em;
    width: 8.2em;
    background-color: hsl(7, 99%, 70%, 0.247);
    border: 1px hsl(7, 99%, 70%, 0.247) solid;
    border-radius: 100px;
}

.audience-learn:hover .audience-underline{
    background-color: hsl(7, 99%, 70%);
    border: 1px hsl(7, 99%, 70%) solid;
}
.brand {
  padding-top: 12%;
  padding-left: 12%; 
}

.audience{
    padding-top: 12%;
    padding-left: 8%;
    padding-right: 10%;
}

.graphic, .photography{
    text-align: center;
}

.bottom-text{
    margin: 400px auto;
    font-size: 16px; 
    max-width: 344px;
}


.grapics{
    color: hsl(167, 40%, 24%);
}

.photocs{
    color:hsl(198, 62%, 26%);
}

.bottom-text h3{
    margin-bottom: 2rem;
    font-weight: 900;
}

.clients{
    width: 80%;
    padding-top: 9.2%;
    padding-bottom: 8%;
    margin: auto;
}



.client-text{
    color:hsl(213, 9%, 39%);
    margin-right: 2rem;
}

.client-name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-top: 4.2em;
    margin-bottom: 0.2em;

}

.client-role{
    color: hsl(210, 4%, 67%);
    font-size: 14px;
}

.content{
    max-width: 452px;
}

#client-title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    padding-top: 1.5rem;
    margin-bottom: 5rem;
}

.emily, .thomas, .jennie{
    text-align: center;
}

.emily{
    margin-left: 0.1rem;
    max-width: 375px;
}

.thomas {
    max-width: 380px;
}

.jennie{
    max-width: 380px;
}

.emily-img, .thomas-img, .jennie-img{
    height: 17%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 3.5rem;
}


.footimgs{
    width: 25%;
}

.bottle-img, .oranges-img, .cone-img, .sugar-img{
    width: 100%;
}


.footer{
    background-color: hsla(168, 57%, 42%, 0.507);
    text-align: center;
   
}

.footer-avatar{
    filter: invert(50%) sepia(85%) saturate(257%) hue-rotate(118deg) brightness(62%) contrast(78%);
}

.footer-avatar{
  width: 60%;  
  padding-bottom: 2.5rem;
}

.footer-container{
    padding-top: 4.5rem;
    width: 20%;
}

.infos{
    padding-bottom: 5rem;
}

.infos a{
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.about:hover, .services:hover, .projects:hover{
    color: hsl(0, 0%, 100%);
}

.facebook:hover, .insta:hover, .twitter:hover, .pinterest:hover{
    filter: invert(96%) sepia(96%) saturate(16%) hue-rotate(227deg) brightness(200%) contrast(106%);
}
.socials{
    margin-bottom: 6rem;
}
.socials a{
    padding-right: 1.5rem;
}
.front-hero{
    height: 900px;
}

@media (max-width: 1420px) { 
    .client-text{
        margin: 0;
        padding: 0;
    }
    .emily, .thomas, .jennie{
        max-height: 360px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}


@media (max-width: 992px) { 

    .ham-info{
        background-color: white;

        position:absolute;
        left: 0;
        right: 0;
        width: 85%;

        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .ham-info a{
        text-decoration: unset;
        color: hsl(210, 4%, 67%);
    }

    .ham-info a:hover{
        color: black;
    }

    #hamenu:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 24px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 20px solid #fff;
        top: -20px;
        right: 0px;
        z-index: 5;
      }

    .ham-span{
        padding-bottom: 1.5rem;
        
    }
    #hamburger{
        margin-right: 1.5rem;

    }

    #ham-contact {
        font-family: 'Fraunces', serif;
        font-size: 16px;
        padding: 1rem 2rem 1rem 2rem;
        background-color: hsl(51, 100%, 49%);
        text-transform: uppercase;
        color: black;
        border: 1px solid hsl(51, 100%, 49%);
        
        border-radius: 100px;
    }

    #ham-contact:hover{
        background-color: hsla(51, 100%, 49%, 0.497);
    }

    .creative-title{
        font-size: 46px;  
    }

    .navbar {
        padding-top: 20px;
        padding-left: 3%;
    }

    .creative-title{
        font-size: 40px;
    }

    .front-hero{
        height: 800px;
    }

    .brand-title, .audience-title{
        font-size: 34px;
    }

    .brand, .audience{
        padding: unset;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
    }
    .brand-learn, .audience-learn {
        max-width: unset;
        margin-left: auto;
        margin-right: auto;
        max-width: 140px;

      }
      .brand-underline, .audience-underline{
        max-width: unset;
        width: unset;
        margin-left: auto;
        margin-right: auto;
        max-width: 143px;
        
      }
    .content{
        max-width: unset;
    }


    .main-content{
        align-items: center;
        text-align: center;
    }
    .sixpack {
        display: flex;
              flex-wrap: wrap;
              flex-direction: row;
    }
    
    .egg-img{
        order: -1;
        flex: 1 0 100%;
    }
   
    .clients{
        width: 90%;
    }

    #client-title{
        font-size: 18px;
    }

    .client-text{
        margin: 0;
        padding: 0;
    }
    .emily, .thomas, .jennie{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .client-name {
        margin-top: 2.2em;
        
      }

      .footimgs{
        width: 50%;
    }  

    .footer {
        height: unset;
        margin-left: auto;
        margin-right: auto;
      }

    .footer-container {
        padding-top: 4.5rem;
        width: unset;
      }

    .footer-avatar{
        width: 60%;
    }

    .servics{
        margin-right: 3em;
        margin-left: 3em;
    }

    .socials .facebook{
        margin-left: 1rem;
    }

    .socials{
        margin-bottom: 6rem;
    }
}


@media (max-width: 720px) { 
   
    .creative-title{
        font-size: 32px;  
        margin-top: 3rem;
    }

    .sunny-avatar{
        padding: 0;
        margin: 0;
        height: unset;
    }


    .front-hero{
        height: 600px;
    }

.content{
    
    justify-content: center;
}


.egg-img, .cup-img {
    height: 400px;
    background-position: center top;
    
   
}

}


@media (max-width: 440px) { 
    .clients{
        padding-bottom: 0;
    }
   
    #client-title{
        font-size: 16px;
    }
    .creative-title{
        font-size: 32px;
        padding: 0;
        margin: 0;
        margin-top: 0.5em;
    }


    .front-hero{
        height: 400px;
    }


    .egg-img, .cup-img {
        height: 300px;
        background-position: center top;
        
    }
    
    }
    